/arkrc
/autostart/
/balena-etcher/
/catkin/
/ccstatusline/
/cef_user_data/
/coc/
/composer
/configstore/
/dconf/
/deepin/
/discord/
/discoverrc
/enchant/
/eog
/evolution/
/Exodus/
/featherpad/
/flameshot/
/flaska.net/
/fontconfig/
/freeciv-qt-client.ini
/freerdp/
/fzf/
/gcloud/
/gedit/
/gita/
/git/.gitconfig
/github-copilot/
/gnome-control-center/
/gnome-initial-setup-done
/gnuplot/
/go/
/goa-1.0/
/google-chrome/
/.gsd-keyboard.settings-ported
/gthumb/
/gtk-2.0/
/gtk-3.0/
/helm/
/htop/
/hub
/ibus/
/IJHack/
/kcachegrindrc
/kdeglobals
/keepassxc/
/konsole.kmessagebox
/konsolerc
/Lens/
/libreoffice/
/lximage-qt/
/lxqt/debug.log
/mc/
/memos.json
/menus/
/mimeapps.list
/monitors.xml
/monitors.xml~
/ngrok/ngrok.yml
/nvim/.netrwhist
/nvm/
/obsidian/
/obs-studio/
/OpenSCAD/
/parleyrc
/pavucontrol-qt/
/pcmanfm-qt/
/photoflare.io/
/pulse/
/Qlipper/
/qpdfview/
/qps/
/QtProject/
/QtProject.conf
/Raspberry Pi/
/remmina/
/RescueTime.com/
/screengrab/
/skypeforlinux/
/Slack/
/syncthing/
/systemd
/TabNine/
/totem
/transmission/
/unity3d/
/Unknown Organization/
/user-dirs.dirs
/user-dirs.locale
/VESC/
/vim/save-undo/
/vim/viminfo.tmp.a
/vim/viminfo.tmp.b
/vlc/
/warp-terminal/
/xdg-desktop-portal-kderc
/zoom.conf
/zoomus.conf
/gh/
/nanoclaw/
/rerun/
