# server
/coc/
/fzf/
/htop/
/configstore/
/nvm/
/git/.gitconfig
/github-copilot/
/nvim/.netrwhist
/hub

# desktop
/Exodus/
/IJHack/
/Lens/
/OpenSCAD/
/Qlipper/
/QtProject.conf
/QtProject/
/Raspberry Pi/
/RescueTime.com/
/Slack/
/Unknown Organization/
/VESC/
/arkrc
/autostart/
/balena-etcher/
/catkin/
/cef_user_data/
/dconf/
/deepin/
/discord/
/discoverrc
/evolution/
/featherpad/
/flameshot/
/flaska.net/
/fontconfig/
/freeciv-qt-client.ini
/freerdp/
/gcloud/
/gita/
/gnome-initial-setup-done
/gnuplot/
/go/
/goa-1.0/
/google-chrome/
/.gsd-keyboard.settings-ported
/gthumb/
/gtk-2.0/
/gtk-3.0/
/helm/
/ibus/
/kcachegrindrc
/kdeglobals
/keepassxc/
/konsole.kmessagebox
/konsolerc
/libreoffice/
/lximage-qt/
/lxqt/debug.log
/mc/
/memos.json
/menus/
/mimeapps.list
/monitors.xml
/monitors.xml~
/ngrok/ngrok.yml
/obsidian/
/obs-studio/
/parleyrc
/pavucontrol-qt/
/pcmanfm-qt/
/photoflare.io/
/pulse/
/qpdfview/
/qps/
/remmina/
/screengrab/
/skypeforlinux/
/syncthing/
/transmission/
/unity3d/
/user-dirs.dirs
/user-dirs.locale
/vim/save-undo/
/vim/viminfo.tmp.a
/vim/viminfo.tmp.b
/vlc/
/warp-terminal/
/xdg-desktop-portal-kderc
/zoom.conf
/zoomus.conf
