[MAIN]

limit-inference-results=100

[MESSAGES CONTROL]

disable=
    global-variable-not-assigned,
    invalid-name,
    line-too-long,
    no-else-return,
    missing-docstring,
    multiple-statements,
    consider-using-f-string

allowed-redefined-builtins=id,time
