# ignore everything by default
*

# git
!/.gitignore
!/git/
!/git/*
!/regit/
!/regit/*

# shell
!/zsh/
!/zsh/*
/zsh/.zcalc_history
!/shell/
!/shell/*

# vim
!/vim/
!/vim/*
/vim/viminfo*
/vim/.netrwhist
/vim/local.vim
/vim/dbext_sql_history.txt
!/vim/php/*
!/vim/UltiSnips/*

