snippet vp "console.log"
console.log(${1:res});
endsnippet

snippet vd "console.log"
console.log(${1:res});throw new Error('${2:die}');
endsnippet

snippet die "throw new Error"
throw new Error('${1:die}');
endsnippet
